body {
  background-color: lightblue;
  text-align: center;
}

h1 {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

ul {
  text-align: left;
  list-style-position: inside;
  display: inline-block
}

div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tableimage {
    width: 150px;
    height: auto;
}